.text-celeste {
    color: #15aabf !important;
}

.news-href {
    text-decoration: none;
    color: black;
}

#InputComment {
    height: 70px;
}

#hr-under-news {
    width: 100px;
}

.checked {
    color: orange;
}

.no-tx-deco {
    text-decoration: none !important;
}

.tx-bold {
    font-weight: bold !important;
}

.wide {
    height: 70vh;
}
